.MuiDataGrid-root{
    border: 0px !important;
}
.MuiDataGrid-iconSeparator{
    color: white;
    height: 0px !important;
}

.css-levciy-MuiTablePagination-displayedRows{
    color: white;
   
}

.MuiDataGrid-selectedRowCount{
    color: white;
}