.TotalCarValue {
    font-family: "Ford Antenna";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.10000000149011612px;
    text-align: right;
    color: #2d96cd;
    position: absolute;
    margin-right: 238px;
    margin-top: 24px;
    right: 169px;
    width: 192px;
    height: 44px;
  }
  
  .TotalCarValueBYN {
    width: 1128px;
    font-family: "Ford Antenna";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.10000000149011612px;
    text-align: right;
    color: #2d96cd;
    margin-right: 195px;
    margin-top: 27px;
  }
  
  .TotalCarValueRUB {
    width: 1128px;
    font-family: "Ford Antenna";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.10000000149011612px;
    text-align: right;
    color: #717171;
    margin-right: 195px;
    margin-top: 2px;
  }
  
  .opt_eq_price {
    color: #717171;
    font-family: "Ford Antenna";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.10000000149011612px;
    text-align: right;
    margin-right: 0px;
    margin-top: -340px;
    /* border-bottom: 1px solid #9e9e9e45; */
  }
  
  .opt_eq_price_value {
    width: 1128px;
    font-family: "Ford Antenna";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: right;
    margin-top: -290px;
    margin-right: 195px;
    color: #717171;
  }
  
  .elems_price_value {
    padding-bottom: 17px;
  }
  
  .elem2_price_value {
    padding-bottom: 25px;
    padding-top: 10px;
    color: #2d96cd;
  }
  
  .elem4_price_value {
    color: #2d96cd;
  }
  
  ul {
    margin-left: -40px;
    margin-right: 115px;
  }
  
  .col_optional_equipment {
    margin-left: 0px;
  }
  
  dd {
    width: 808px;
    font-family: "Ford Antenna";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 17px;
    color: #333333;
    margin-left: 0px;
  }
  .opt_inf {
    font-family: "Ford Antenna";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 24px;
    width: 1057px;
    color: #2d96cd;
    margin-right: 279px;
  }
  .OptVector {
    height: 20px;
    width: 20px;
    padding-right: 9px;
  }
  
  .container {
    display: block;
    position: relative;
    padding-left: 30px;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #eee;
    border-radius: 15px;
    border: 2px solid #717171ad;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    border: 2px solid #2d96cd;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5.3px;
    width: 5px;
    height: 10px;
    border: solid #2d96cd;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .width {
    border-bottom: 1px solid #9e9e9e45;
    padding-bottom: 40px;
  }
  
  .w1 {
    padding-bottom: 15px;
  }
  
  .w2 {
    padding-bottom: 53px;
  }
  
  .w3 {
    padding-bottom: 53px;
  }
  
  .w4 {
    padding-bottom: 37px;
  }
  
  .w5 {
    padding-bottom: 35px;
  }
  
  .w7 {
    padding-bottom: 28px;
  }