.logo {
  display: flex;
  flex-direction: row;
  width: 100px;
}

.logo_img {
  display: flex;
  justify-content: start;
  align-items: center;

}

.logo_atlant {
  padding: 0px;
  margin: 30px 16px 30px 76px;
}

.logo_line {
  padding: 0px;
  margin: 32px 0px 35px 0px;
}

.logo_ford {
  padding: 0px;
  margin: 31px 151px 31px 16px;
}

.logo_list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0px;
  margin: 42px 83px 42px 0px;
  
}