.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
.logo_link {
  padding: 0px;
  margin: 0px 8px;
  color: #333333;
  text-decoration: none;

}
.logo_link:hover {
  color: #337ab7;
}
.logo_link:focus {
  color: #337ab7;
}
.logo_link:active {
  color: #337ab7;
}

.logo_img {
  display: flex;
  justify-content: start;
  align-items: center;

}

.logo_atlant {
  padding: 0px;
  margin: 30px 16px 30px 76px;
}

.logo_line {
  padding: 0px;
  margin: 32px 0px 35px 0px;
}

.logo_ford {
  padding: 0px;
  margin: 31px 143px 31px 16px;
}

.logo_list {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 0px;
  margin: 42px 83px 42px 0px;
  
}