.total-car-value {
  display: flex;
  flex-direction: row;
  font-family: "Ford Antenna";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.10000000149011612px;
  text-align: right;
  color: #2d96cd;
  max-width: 100%;
}

.total-car-value .label-car-sum {
  position: absolute;
  margin-right: 285px;
  margin-top: 24px;
  right: 169px;
  width: 192px;
  height: 44px;
}

.total-car-value .label-car-sum-byn {
  position: absolute;
  width: 1128px;
  font-weight: 700;
  margin-right: 0px;
  margin-top: 27px;
}

.total-car-value .label-car-sum-rub {
  position: absolute;
  width: 1128px;
  font-size: 14px;
  line-height: 17px;
  color: #717171;
  margin-right: 0px;
  margin-top: 49px;
  padding: 2px;
}

.total-car-value .priceBtnTotal {
  margin-top: 110px;
  padding-right: 0px;
  margin-left: 760px;
}

.total-car-value .NextBtnTotal {
  margin-top: 110px;
  padding-left: 10px;
}
